html {
  font-family: sans-serif, Arial, Helvetica;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding-top: 0px;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
  }
a {
  text-decoration: none;
  }
header {
  margin-top: 0;
  padding-top: 0;
  top: 0;
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 30%, rgba(228,14,14,1) 60%, rgba(255,255,255,1) 90%);
  height:250px;
  }
ul.lista-header {
  padding-left: 0;
}
ul.lista-header li {
  display: inline-block;
}
ul.lista-header li a {
  color: #ffffff;
  margin-left: 50px;
  margin-top: 30px;
  font-size: 3;
}
header h1 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.25rem;
  margin-top: 0;
  margin-bottom: 0.1rem;
}
header h1 a {
  color: #ffffff;
}
header h2 {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.15rem;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
}
article {
  line-height: 1.5;
  margin-bottom: 1em;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 0px;
  padding-bottom: 10%;
  font-size: 1.3rem;
  word-wrap: break-word;
}
article h1 {
  color: rgb(255,0,0);
  text-transform: capitalize;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgb(255,0,0);
}
ul.lista-footer {
   padding-left: 0;
}
ul.lista-footer li {
  display: inline-block;
  text-align: center;
}
ul.lista-footer li a {
  color: #ffffff;
  margin-left: 50px;
  font-size: 2;
  font-weight: bold;
}
