html {
  font-family: sans-serif, Arial, Helvetica;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: block;
  background: #1a1918;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding-top: 0px;
  font-size: 16px;
  line-height: 1.5;
  color: #c9c9c9;
  }
a {
  text-decoration: none;
  }
article a {
  color: #ff6a00;
}
header {
  margin-top: 0;
  padding-top: 0;
  background: rgb(255,0,0);
  background: linear-gradient(180deg, rgba(255,0,0,1) 30%, rgba(210,17,11,1) 52%, rgba(205,15,9,1) 68%, rgba(112,20,17,1) 82%, rgba(73,22,20,1) 89%, rgba(26,25,24,1) 97%);
  height: 200px;
  }
ul.lista-header {
  padding-left: 0;
}
ul.lista-header li {
  display: inline-block;
}
ul.lista-header li a {
  color: #ffffff;
  margin-left: 50px;
  margin-top: 25px;
  font-size: 80%;
}
header h1 {
  float: none;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 5%;
}
header h1 a {
  color: #ffffff;
  padding-left: 2%;
  font-size: 100%;
}
header img {
  float: left;
  margin-left: 5%;
  margin-top: 3%;
}
article {
  line-height: 1.5;
  margin-bottom: 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
  font-size: 1.2rem;
  color: #c9c9c9;
  word-wrap: break-word;
}
article h1 {
  color: rgb(255,0,0);
  text-transform: capitalize;
}
footer{
  position: static;
  height: 60px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background: rgb(255,0,0);
}
ul.lista-footer li {
  display: inline-block;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}
ul.lista-footer li a {
  color: #ffffff;
  font-size: 80%;
  font-weight: bold;
}
